{% extends "base_generic.html" %}

{% block content %}
<h1>Swapsies</h1>

  <p>Welcome to <em>Swapsies</em>, a very basic Django website developed to share items!</p>


<h3>New Feature : Searchbars and Update </h3>
<h4> Bug Fixes: Fixed comic request key bug. Removed session counter.</h4>

  <ul>
    <li><strong>We are currently lending {{ num_books }} books and {{ num_comics}} {% if num_comics == 1 %} comic{% else %} comics{% endif %}! </strong> </li>
  </ul>

<br>

{% if reqcount > 0 %}
<h4  style="color:green"> <strong> Requests:</h4>
    {% for thing in reqitem %}
        {% if thing.item.owned_by == request.user %}
           <li style="color:green">
           {{thing.item}} [{{thing.requester}}]
<br>
<div class=inline>
            <form action="{% url 'accept-request' thing.id %}" method="post">
{% csrf_token %}
        <input type="submit" value="Accept Request"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</div>
</form>
<div class=inline>
            <form action="{% url 'deny-request' thing.id %}" method="post">
{% csrf_token %}
        <input type="submit" value="Deny"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
</div>
<br>
</li>
<br>
        {% endif %}
    {% endfor %}
        </strong>
{% endif %}


<br>
<br>
{% if mescount > 0 %}
<h4  style="color:green"> <strong> Messages:</h4>
    {% for thing in mymes %}
           <li style="color:green">
           {{thing.message}}
            <form action="{% url 'ack-message' thing.id %}" method="post">
{% csrf_token %}
        <input type="submit" value="Dismiss"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
<div class=inline>
</form>
</div>
<br>
</li>
<br>
    {% endfor %}
        </strong>
{% endif %}





{% endblock %}
