{% extends "base_generic.html" %}

{% block content %}
<br>
<br>
 <h3> <p>Welcome to <em>Swapsies</em>, a place to share books and comics!</p></h3>
    {% for thing in pendloan %}
           <li style="color:red">
          Dont forget to give {{thing.item}} to {{thing.requester}}
      </li>
    {% endfor %}
<br>
<h4>New Feature : Approve or deny requests & Notification of request approval/denial </h4>
<h5> Canceling a denial message now cancels the denial as well</h5>

  <ul>
    <li><strong>We are currently lending {{ num_books }} books and {{ num_comics}} {% if num_comics == 1 %} comic{% else %} comics{% endif %}! </strong> </li>
  </ul>

<br>
<div style="margin-left:30px;margin-top:20px">
{% if reqcount > 0 %}
<hr>
<h4  style="color:green"> <strong> Requests:</h4>
    {% for thing in reqitem %}
        {% if thing.item.owned_by == request.user %}
           <li style="color:green">
           {{thing.item}} [{{thing.requester}}]
<br>
<div class=inline>
            <form action="{% url 'accept-request' thing.id %}" method="post">
{% csrf_token %}
        <input type="submit" value="Accept Request"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</div>
</form >
<form action="{% url 'cust_mes' thing.id %}" method="post">
{% csrf_token %}
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Modal title</h4>
       </div>
       <div id="form-modal-body" class="modal-body">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
</div>
</form>
<form>
{% csrf_token %}
<a data-toggle="modal" href="{% url 'cust_mes' thing.id  %}" method="post" data-target="#form-modal">
<div class=inline>
<input type="submit" value="Deny"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</a>
</form>
</div>
<br>
</li>
<br>
        {% endif %}
    {% endfor %}
        </strong>
{% endif %}


{% if mescount > 0 %}
<hr>
<h4  style="color:green"> <strong> Messages:</h4>
    {% for thing in mymes %}
           <li style="color:green">
           {{thing.message}}
            <form action="{% url 'ack-message' thing.id %}" method="post">
{% csrf_token %}
        <input type="submit" value="Dismiss"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
<div class=inline>
</form>
</div>
<hr>
</div>
<br>
</li>
<br>
    {% endfor %}
        </strong>
{% endif %}


{% endblock %}
