{% extends "base_generic.html" %}

{% block content %}
<h1>Swapsies</h1>

  <p>Welcome to <em>Swapsies</em>, a very basic Django website developed to share items!</p>


<h3>New Feature : Searchbars and Update </h3>
<h4> Bug Fixes: Fixed comic request key bug. Removed session counter.</h4>

  <ul>
    <li><strong>We are currently lending {{ num_books }} books and {{ num_comics}} {% if num_comics == 1 %} comic{% else %} comics{% endif %}! </strong> </li>
  </ul>

<br>

{% if reqcount > 0 %}
<h4  style="color:green"> <strong> Requests:</h4>
    {% for thing in reqitem %}
        {% if thing.item.owned_by == request.user %}
           <li style="color:green">
           {{thing.item}} [{{thing.requester}}]
            </li>
        {% endif %}
    {% endfor %}
        </strong>
{% endif %}
{% endblock %}
