{% extends "base_generic.html" %}
{% block content %}
<br>
<h3> Welcome to the WeatherLog Journal Tracker</h3>
<h5> Select your journal below to log entries or use the link in the sidebar to create a new one</h5>
<br>
<hr>
<strong><h4 style="color:#336600">  V 1.0.1 Release Notes </h4>
<h5 style="color:#339900">  Bug fix : Each journal can only have one record for any given date </h5>
<hr>
<h2> Journals </h2>

{% if journal_list %}
    {% for journ in journal_list %}
<li>
    <a href="create_date_record/{{journ.id}}">{{journ}}</a>
{% endfor %}
</li>
    {% else %} There is nothing here
    {% endif %}




{% endblock %}

