{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ book.author_first }}, {{book.author_last}}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.publisher }} Copywrite {{book.year}}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

   {% for copy in book.item.item_status_set.all %}
    <hr>
    <p class="{% if copy.due_back == null %}text-success{% elif copy.due_back != null %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_due_back_display }}</p>
    {% if copy.due_back != null %}<p><strong>Due to be returned:{{copy.due_back}}{% else %}There is a copy available!</strong></p>{% endif %}
    {% endfor %}
  </div>
{% endblock %}
