{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>

<form method="get" action="{% url 'books' %}">
    <p>Search: <input type="text" name="search" value={{search}} ></p>
    <p><input type="submit" name="submit" value="Submit"<button class="btn btn-default btn-sm" type="button" style="color:#000000"/></button> </p>
</form>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.pk }}">{{ book.title }}</a> ({{book.author_last}},{{book.author_first}})
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}
