{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <h1>{{ comic.series }}</h1>

  <p><strong>Title:</strong> {{ comic.title }}</p>
  <p><strong>Publisher:</strong> {{ comic.publisher }}</p>
  <p><strong>Month:</strong> {{ comic.month }}</p>
  <p><strong>Number:</strong> {{ comic.number }}</p>
  <div style="margin-left:20px;margin-top:20px">
  <div style="margin-left:20px;margin-top:20px">
 <hr>
  <h4>Summary:</h4>
    <p>{{comic.description|linebreaks}}</p>
  </div>
  <hr>
  <h3>Availability</h3>

   {% for copy in comic.item.item_status_set.all %}
    <hr>
    <p class="{% if copy.due_back == null %}text-success{% elif copy.due_back != null %}text-danger{% else %}text-warning{% endif %}"></p>
    {% if copy.borrower != null %}<p><strong>On loan to: {{copy.borrower}}</strong></p>
    {% else %}<p><strong>There is a copy available! </strong></p>
    <p><strong> Owner: {{comic.item.owned_by}}</strong></p>
 {% endif %}
 {% endfor %}
{% if comic.item.owned_by != request.user %}
<form action="{% url 'issue-comic-request' comic.id %}" method="post">
{% csrf_token %}
        <input type="submit" value="Request Comic"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
{% endif %}
  </div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
