{% extends "base_generic.html" %}

{% block content %}
    <h2>Things You Borrowed</h2>
<div style="margin-left:30px;margin-top:20px">
<hr>
  <h4> Books </h4>
    {% if item_status_list %}
    <ul>

      {% for itst in item_status_list %}
         {% if itst.item.item_type.type == "Book" %}
    <li>
<form action="{% url 'pass-borrower' itst.id %}" method="post">
        <a href="{% url 'books-detail' itst.item.bookit.get.id %}">{{itst.item.bookit.get.title}}</a>
{% csrf_token %}
        <input type="submit" value="Pass Along"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
        {% endif %}
     </li>
      {% endfor %}
    </ul>
    {% endif %}
<hr>
<h4> Comics </h4>
    {% if item_status_list %}
    <ul>

      {% for itst in item_status_list %}
         {% if itst.item.item_type.type == "Comic" %}
    <li>
<form action="{% url 'pass-borrower' itst.id %}" method="post">
        <a href="{% url 'comics-detail' itst.item.comicit.get.id %}">{{itst.item.comicit.get.title}}</a>
{% csrf_token %}
        <input type="submit" value="Pass Along"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
        {% endif %}
     </li>
      {% endfor %}
    </ul>
    {% endif %}

<hr>
</div>
<br>

    <h2>Things You Loaned</h2>

<div style="margin-left:30px;margin-top:20px">
<hr>
  <h4> Books </h4>

    {% if Loaned_list %}
    <ul>
      {% for thing in Loaned_list %}
         {% if thing.item.item_type.type == "Book" %}
    <li>
<form action="{% url 'mark-returned' thing.id %}" method="post">
        <a href="{% url 'books-detail' thing.item.bookit.get.id %}">{{thing.item.bookit.get.title}}</a> <strong>({{thing.borrower}})</strong>
{% csrf_token %}
        <input type="submit" value="Mark Returned"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
      {% endif %}
    </li>
      {% endfor %}
    </ul>
    {% endif %}
<hr>
  <h4> Comics </h4>
    {% if Loaned_list %}
    <ul>
      {% for thing in Loaned_list %}
         {% if thing.item.item_type.type == "Comic" %}
    <li>
<form action="{% url 'mark-returned' thing.id %}" method="post">
        <a href="{% url 'comics-detail' thing.item.comicit.get.id %}">{{thing.item.comicit.get.title}}</a> <strong>({{thing.borrower}})</strong>
{% csrf_token %}
        <input type="submit" value="Mark Returned"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
      {% endif %}
    </li>
      {% endfor %}
    </ul>
    {% endif %}
</div>
<br>

<h2> Things You Share </h2>
<div style="margin-left:30px;margin-top:20px">
<hr>

    <h4> Books </h4>
    {% if Other_list %}
    <ul>
      {% for thing in Other_list %}
         {% if thing.item.item_type.type == "Book" %}
<li>
 <form action="{% url 'pass-borrower' thing.id %}" method="post">
        <a href="{% url 'books-detail' thing.item.bookit.get.id %}">{{thing.item.bookit.get.title}}</a>
{% csrf_token %}
        <input type="submit" value="Loan"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
      {% endif %}
    </li>
      {% endfor %}
    </ul>
    {% endif %}
<hr>
    <h4> Comics </h4>

{% if Other_list %}
    <ul>
      {% for thing in Other_list %}
         {% if thing.item.item_type.type == "Comic" %}

<li>
 <form action="{% url 'pass-borrower' thing.id %}" method="post">
        <a href="{% url 'comics-detail' thing.item.comicit.get.id %}">{{thing.item.comicit.get.title}}</a>
{% csrf_token %}
        <input type="submit" value="Loan"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
      {% endif %}
    </li>
      {% endfor %}
    </ul>
    {% endif %}
</div>
  {% endblock %}
