{% extends "base_generic.html" %}

{% block content %}
    <h2>Borrowed Books</h2>

    {% if item_status_list %}
    <ul>

      {% for itst in item_status_list %}
         {% if itst.item.item_type.type == "Book" %}
    <li>
<form action="{% url 'pass-borrower' itst.id %}" method="post">
        <a href="{% url 'books-detail' itst.item.bookit.get.id %}">{{itst.item.bookit.get.title}}</a>
{% csrf_token %}
        <input type="submit" value="Pass Along"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
         {% else %}
               {{itst.item.bookit.get.id}}
        {% endif %}
     </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}


    <h2>Loaned Books</h2>
    {% if Loaned_list %}
    <ul>
      {% for thing in Loaned_list %}
         {% if thing.item.item_type.type == "Book" %}
    <li>
<form action="{% url 'mark-returned' thing.id %}" method="post">
        <a href="{% url 'books-detail' thing.item.bookit.get.id %}">{{thing.item.bookit.get.title}}</a> <strong>({{thing.borrower}})</strong>
{% csrf_token %}
        <input type="submit" value="Mark Returned"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
      {% else %}
          {{thing.item.item_name}}
      {% endif %}
    </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>You currently have no books on loan</p>
    {% endif %}


    <h3>Other Books You Share</h3>
    {% if Other_list %}
    <ul>
      {% for thing in Other_list %}
         {% if thing.item.item_type.type == "Book" %}
<li>
 <form action="{% url 'pass-borrower' thing.id %}" method="post">
        <a href="{% url 'books-detail' thing.item.bookit.get.id %}">{{thing.item.bookit.get.title}}</a>
{% csrf_token %}
        <input type="submit" value="Loan"<button class="btn btn-default btn-xs" type="button" style="color:#000000"/></button>
</form>
      {% else %}
          {{thing.item.item_name}}
      {% endif %}
    </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>All your books are on loan</p>
    {% endif %}
  {% endblock %}
