<!DOCTYPE html>
<html lang="en">
<head>
**
  {% block title %}<title>WeatherLog</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
**
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<h1>Calendar</h1>

<table width="100%">
    <tr>
        <td width="50%" align="center">
        <strong>  &lt;&lt; <a href="{% url 'calendar' PreviousYear PreviousMonth %}">{{PreviousMonth}}/{{PreviousYear}}</a>
        </strong>
        </td>
        <td width="50%" align="center">
        <strong>
          <a href="{% url 'calendar' NextYear NextMonth %}">{{NextMonth}}/{{NextYear}}</a> &gt;&gt;
        </strong>
        </td>
    </tr>
</table>
<div id="calendar">
  {{calendar}}
</div>
